Model/Connected Services/ServiceReferencePSE/wsOnlineToCPE1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://emiteonline.pe/OnlineCPE/CPE/wsOnlineToCPE.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE.EMISION" />
  <xs:complexType name="CPE_CABECERA_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_GPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_CPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_OPE_LEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOR_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORRELATIVO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_VCTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MONEDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_OPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_DOC_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_COM_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_LOC_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_DOC_RCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC_RCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_RCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_DES_RCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UBI_RCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_REG_MTC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_MND_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UBI_ENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_DES_ENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_URB_ENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_PAI_ENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_PAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FRM_PAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_ORD_COM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_GRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_GRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_OPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FMT_IMPR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMPRESORA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_DCTO_GLB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_DCTO_GLB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_CARG_GLB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_CARG_GLOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_CARG_GLOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_IMP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_GRV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_INF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_EXR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_GRT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_EXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_ISC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_TRB_IGV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_TRB_ISC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_TRB_OTR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_VAL_VTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_PRC_VTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_DCTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_OTR_CGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_CMB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_DCTO_GLB_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_CARG_GLB_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_PER_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_IMP_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_GRV_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_INF_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_EXR_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_GRT_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_EXP_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_ISC_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_TRB_IGV_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_TRB_ISC_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_TRB_OTR_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_VAL_VTA_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_PRC_VTA_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_DCTO_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_OTR_CGO_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_ANTCP_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_IMPTO_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_MAS_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_DETRACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_DETRACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_DETRACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_SOF_FACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_NC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_ND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_MTVO_NC_ND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_ENVIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_COPIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_OCULTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTO_VTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLG_TIP_CAMBIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_PROCEDENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_EXT_RZN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETD_SNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_REF_CLT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_DOC_COM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC_COM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_COM" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE.EMISION" minOccurs="0" name="MIE_LIST_RCT" nillable="true" type="q1:ArrayOfCPE_CABECERA_MIE" />
      <xs:element minOccurs="0" name="TIP_ORI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_ROUNDING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_ICBPER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_CARGA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_DCTO_GLOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MDP_MOD_PAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MDP_MNT_PDT_PAG" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE.EMISION" minOccurs="0" name="MDP_MOD_PAG_LIST" nillable="true" type="q2:ArrayOfCPE_CABECERA_FPG" />
      <xs:element minOccurs="0" name="RET_MNT_ARET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RET_MNT_TOT_OPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RET_FAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBS_CPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_INT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_ANTCP_IGV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_CABECERA_BE" nillable="true" type="tns:CPE_CABECERA_BE" />
  <xs:complexType name="ArrayOfCPE_DETALLE_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_DETALLE_BE" nillable="true" type="tns:CPE_DETALLE_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_DETALLE_BE" nillable="true" type="tns:ArrayOfCPE_DETALLE_BE" />
  <xs:complexType name="CPE_DETALLE_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="LIN_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_UND_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANT_UND_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL_VTA_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRC_VTA_UND_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL_UNIT_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_IGV_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POR_IGV_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRC_VTA_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL_VTA_BRT_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_AFECT_IGV_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_ISC_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POR_ISC_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_SIST_ISC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRECIO_SUGERIDO_ISC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_DCTO_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_DCTO_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_CARG_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_CARG_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_CARG_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_PER_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_PER_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_PER_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TXT_DES_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TXT_DES_ADIC_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_ITM_SUNAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_ITM_GS1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC03" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC04" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC05" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC06" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC08" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC09" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_COMP" nillable="true" type="tns:ArrayOfCPE_DETALLE_COMPTA_BE" />
      <xs:element minOccurs="0" name="DET_LIST_ADIC" nillable="true" type="tns:ArrayOfCPE_DETALLE_ADIC_BE" />
      <xs:element minOccurs="0" name="CANT_ICBPER_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_UND_ICBPER_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_ICBPER_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_ICBPER_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_DSCTO_ITM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DETALLE_BE" nillable="true" type="tns:CPE_DETALLE_BE" />
  <xs:complexType name="ArrayOfCPE_DETALLE_COMPTA_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_DETALLE_COMPTA_BE" nillable="true" type="tns:CPE_DETALLE_COMPTA_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_DETALLE_COMPTA_BE" nillable="true" type="tns:ArrayOfCPE_DETALLE_COMPTA_BE" />
  <xs:complexType name="CPE_DETALLE_COMPTA_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Columna01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Columna02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumLinItem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DETALLE_COMPTA_BE" nillable="true" type="tns:CPE_DETALLE_COMPTA_BE" />
  <xs:complexType name="ArrayOfCPE_DETALLE_ADIC_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_DETALLE_ADIC_BE" nillable="true" type="tns:CPE_DETALLE_ADIC_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_DETALLE_ADIC_BE" nillable="true" type="tns:ArrayOfCPE_DETALLE_ADIC_BE" />
  <xs:complexType name="CPE_DETALLE_ADIC_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="DET_NUM_LIN_ADIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_NUM_LIN_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_COD_TIP_ADIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_DES_ADIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_DES_OPC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DETALLE_ADIC_BE" nillable="true" type="tns:CPE_DETALLE_ADIC_BE" />
  <xs:complexType name="ArrayOfCPE_DAT_ADIC_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_DAT_ADIC_BE" nillable="true" type="tns:CPE_DAT_ADIC_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_DAT_ADIC_BE" nillable="true" type="tns:ArrayOfCPE_DAT_ADIC_BE" />
  <xs:complexType name="CPE_DAT_ADIC_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="COD_TIP_ADIC_SUNAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_LIN_ADIC_SUNAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TXT_DESC_ADIC_SUNAT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DAT_ADIC_BE" nillable="true" type="tns:CPE_DAT_ADIC_BE" />
  <xs:complexType name="ArrayOfCPE_DOC_REF_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_DOC_REF_BE" nillable="true" type="tns:CPE_DOC_REF_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_DOC_REF_BE" nillable="true" type="tns:ArrayOfCPE_DOC_REF_BE" />
  <xs:complexType name="CPE_DOC_REF_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="COD_TIP_DOC_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_OTR_DOC_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_DOC_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_CORRE_CPE_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_LIN_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_OTR_DOC_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_SERIE_CPE_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIE_CORRE_CPE_REF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DOC_REF_BE" nillable="true" type="tns:CPE_DOC_REF_BE" />
  <xs:complexType name="ArrayOfCPE_ANTICIPO_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_ANTICIPO_BE" nillable="true" type="tns:CPE_ANTICIPO_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_ANTICIPO_BE" nillable="true" type="tns:ArrayOfCPE_ANTICIPO_BE" />
  <xs:complexType name="CPE_ANTICIPO_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="LIN_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_SERIE_CPE_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_CORRE_CPE_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_DOC_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIE_CORRE_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_DOC_EMIS_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_DOC_EMIS_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_PAG_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_EST_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_ADC_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_PAG_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_CPE_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL_ADC_01_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL_ADC_02_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL_ADC_03_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_ANTCP_CON_IGV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_ANTICIPO_BE" nillable="true" type="tns:CPE_ANTICIPO_BE" />
  <xs:complexType name="ArrayOfCPE_FAC_GUIA_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_FAC_GUIA_BE" nillable="true" type="tns:CPE_FAC_GUIA_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_FAC_GUIA_BE" nillable="true" type="tns:ArrayOfCPE_FAC_GUIA_BE" />
  <xs:complexType name="CPE_FAC_GUIA_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="TIP_DOC_DESTINATARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC_DESTINATARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_DESTINATARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MTV_TRASLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOT_PSO_BRUTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_UND_MEDIDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_MOD_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_INI_TRASLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_DOC_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RZN_SCL_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_MTC_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CERT_AUTO_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_PLACA_TRASLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_PLACA_SEC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_DOC_COND_TRASLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC_COND_TRASLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_UBI_LLEGADA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_LLEGADA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_PAI_LLEGADA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IND_SUB_CONTRATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_UBI_PARTIDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_PARTIDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_PAI_PARTIDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_GRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_GRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARCA_AUTO_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_COND_TRASLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIC_COND_TRASLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLG_TIP_GRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_FAC_GUIA_BE" nillable="true" type="tns:CPE_FAC_GUIA_BE" />
  <xs:complexType name="ArrayOfCPE_DOC_ASOC_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_DOC_ASOC_BE" nillable="true" type="tns:CPE_DOC_ASOC_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_DOC_ASOC_BE" nillable="true" type="tns:ArrayOfCPE_DOC_ASOC_BE" />
  <xs:complexType name="CPE_DOC_ASOC_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOC_ASOC" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FEC_CREA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FLG_ACTIVO" type="xs:int" />
      <xs:element minOccurs="0" name="NUM_CPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ_DOC_ASOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TXT_DOC_ASOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TXT_TAM_DOC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DOC_ASOC_BE" nillable="true" type="tns:CPE_DOC_ASOC_BE" />
  <xs:complexType name="CPE_RESPUESTA_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_ESTD_SUNAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DETALLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_CPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_RESPUESTA_BE" nillable="true" type="tns:CPE_RESPUESTA_BE" />
  <xs:complexType name="CPE_DOC_TRIBUTARO_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOC_TRIB_PDF" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DOC_TRIB_XML_ENVIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_TRIB_XML_RPTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_CPE" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="NUM_RESUM" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DOC_TRIBUTARO_BE" nillable="true" type="tns:CPE_DOC_TRIBUTARO_BE" />
  <xs:complexType name="RPTA_RET_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAD_HASH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_HASH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DETALLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_TRIB_IMG" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DOC_TRIB_PDF" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DOC_TRIB_XML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_OPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RPTA_RET_BE" nillable="true" type="tns:RPTA_RET_BE" />
</xs:schema>