Model/Connected Services/ServiceReferencePSE/wsOnlineToCPE2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE.EMISION" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE.EMISION" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCPE_CABECERA_MIE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_CABECERA_MIE" nillable="true" type="tns:CPE_CABECERA_MIE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_CABECERA_MIE" nillable="true" type="tns:ArrayOfCPE_CABECERA_MIE" />
  <xs:complexType name="CPE_CABECERA_MIE">
    <xs:sequence>
      <xs:element minOccurs="0" name="LIN_PART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_DOC_PART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC_PART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_PART" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_CABECERA_MIE" nillable="true" type="tns:CPE_CABECERA_MIE" />
  <xs:complexType name="ArrayOfCPE_CABECERA_FPG">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_CABECERA_FPG" nillable="true" type="tns:CPE_CABECERA_FPG" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_CABECERA_FPG" nillable="true" type="tns:ArrayOfCPE_CABECERA_FPG" />
  <xs:complexType name="CPE_CABECERA_FPG">
    <xs:sequence>
      <xs:element minOccurs="0" name="LIN_CUOTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDE_CUOTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_PAG_CUOTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_PAG_CUOTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DAT_ADI_CUOTA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_CABECERA_FPG" nillable="true" type="tns:CPE_CABECERA_FPG" />
</xs:schema>