Model/Connected Services/ServiceReferencePSE/wsOnlineToCPE3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://emiteonline.pe/OnlineCPE/CPE/wsOnlineToCPE.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" />
  <xs:import schemaLocation="http://emiteonline.pe/OnlineCPE/CPE/wsOnlineToCPE.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TT.EOL.Commons" />
  <xs:import schemaLocation="http://emiteonline.pe/OnlineCPE/CPE/wsOnlineToCPE.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE.RESPUESTA" />
  <xs:import schemaLocation="http://emiteonline.pe/OnlineCPE/CPE/wsOnlineToCPE.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="callProcessOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oPass" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="oCabecera" nillable="true" type="q1:CPE_CABECERA_BE" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listDetalle" nillable="true" type="q2:ArrayOfCPE_DETALLE_BE" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listAdicionales" nillable="true" type="q3:ArrayOfCPE_DAT_ADIC_BE" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listReferenciados" nillable="true" type="q4:ArrayOfCPE_DOC_REF_BE" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listAnticipos" nillable="true" type="q5:ArrayOfCPE_ANTICIPO_BE" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listFacGuia" nillable="true" type="q6:ArrayOfCPE_FAC_GUIA_BE" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listRelacionado" nillable="true" type="q7:ArrayOfCPE_DOC_ASOC_BE" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TT.EOL.Commons" minOccurs="0" name="oTipoOnline" type="q8:GlobalEnum.TipoOnline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callProcessOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="callProcessOnlineResult" nillable="true" type="q9:CPE_RESPUESTA_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callStateCPE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oPass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oNroIde" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oTipCpe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oSerCpe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oNroCpe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callStateCPEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE.RESPUESTA" minOccurs="0" name="callStateCPEResult" nillable="true" type="q10:RPTA_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callExtractCPE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oPass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oNroIde" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oTipCpe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oSerCpe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oNroCpe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oFlgXml" type="xs:boolean" />
        <xs:element minOccurs="0" name="oFlgPdf" type="xs:boolean" />
        <xs:element minOccurs="0" name="oFlgCdr" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callExtractCPEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE.RESPUESTA" minOccurs="0" name="callExtractCPEResult" nillable="true" type="q11:RPTA_DOC_TRIB_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callProcessUpd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oPass" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="oCabecera" nillable="true" type="q12:CPE_CABECERA_BE" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listDetalle" nillable="true" type="q13:ArrayOfCPE_DETALLE_BE" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listAdicionales" nillable="true" type="q14:ArrayOfCPE_DAT_ADIC_BE" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listReferenciados" nillable="true" type="q15:ArrayOfCPE_DOC_REF_BE" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listAnticipos" nillable="true" type="q16:ArrayOfCPE_ANTICIPO_BE" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listFacGuia" nillable="true" type="q17:ArrayOfCPE_FAC_GUIA_BE" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listRelacionado" nillable="true" type="q18:ArrayOfCPE_DOC_ASOC_BE" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TT.EOL.Commons" minOccurs="0" name="oTipoOnline" type="q19:GlobalEnum.TipoOnline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callProcessUpdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="callProcessUpdResult" nillable="true" type="q20:CPE_RESPUESTA_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callPreview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oPass" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="oCabecera" nillable="true" type="q21:CPE_CABECERA_BE" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listDetalle" nillable="true" type="q22:ArrayOfCPE_DETALLE_BE" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listAdicionales" nillable="true" type="q23:ArrayOfCPE_DAT_ADIC_BE" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listReferenciados" nillable="true" type="q24:ArrayOfCPE_DOC_REF_BE" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listAnticipos" nillable="true" type="q25:ArrayOfCPE_ANTICIPO_BE" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listFacGuia" nillable="true" type="q26:ArrayOfCPE_FAC_GUIA_BE" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="listRelacionado" nillable="true" type="q27:ArrayOfCPE_DOC_ASOC_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="callPreviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" minOccurs="0" name="callPreviewResult" nillable="true" type="q28:CPE_DOC_TRIBUTARO_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallRequestLow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oGpo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oPass" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="oDoc" nillable="true" type="q29:ArrayOfCPE_DOC_BAJA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallRequestLowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE.RESPUESTA" minOccurs="0" name="CallRequestLowResult" nillable="true" type="q30:ArrayOfRPTA_BE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>