Model/Connected Services/ServiceReferencePSE/wsOnlineToCPE1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TT.EOL.Level.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CPE_CABECERA_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_GPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_CPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_OPE_LEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOR_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORRELATIVO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_VCTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MONEDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_OPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_DOC_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_COM_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_LOC_EMI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_DOC_RCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC_RCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_RCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_DES_RCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UBI_RCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_REG_MTC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_MND_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UBI_ENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_DES_ENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_URB_ENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_PAI_ENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_PAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FRM_PAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_ORD_COM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_GRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_GRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_OPC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FMT_IMPR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMPRESORA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_DCTO_GLB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_DCTO_GLB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_CARG_GLB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_CARG_GLOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_CARG_GLOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_IMP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_GRV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_INF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_EXR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_GRT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_EXP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_ISC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_TRB_IGV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_TRB_ISC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_TRB_OTR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_VAL_VTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_PRC_VTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_DCTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_OTR_CGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_CMB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_DCTO_GLB_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_CARG_GLB_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_PER_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_IMP_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_GRV_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_INF_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_EXR_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_GRT_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_EXP_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_ISC_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_TRB_IGV_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_TRB_ISC_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_TRB_OTR_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_VAL_VTA_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_PRC_VTA_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_DCTO_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_OTR_CGO_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_ANTCP_NAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_IMPTO_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_MAS_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_DETRACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_DETRACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_DETRACCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_SOF_FACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_NC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_ND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_MTVO_NC_ND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_ENVIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_COPIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_OCULTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTO_VTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLG_TIP_CAMBIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_PROCEDENCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_EXT_RZN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETD_SNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_REF_CLT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_CABECERA_BE" nillable="true" type="tns:CPE_CABECERA_BE" />
  <xs:complexType name="ArrayOfCPE_DETALLE_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_DETALLE_BE" nillable="true" type="tns:CPE_DETALLE_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_DETALLE_BE" nillable="true" type="tns:ArrayOfCPE_DETALLE_BE" />
  <xs:complexType name="CPE_DETALLE_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="LIN_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_UND_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANT_UND_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL_VTA_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRC_VTA_UND_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL_UNIT_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_IGV_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POR_IGV_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRC_VTA_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VAL_VTA_BRT_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_AFECT_IGV_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_ISC_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POR_ISC_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_SIST_ISC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRECIO_SUGERIDO_ISC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_DCTO_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_DCTO_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_CARG_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_CARG_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_CARG_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_TOT_PER_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAC_PER_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_PER_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TXT_DES_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TXT_DES_ADIC_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_ITM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_ITM_SUNAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HPJ_NUM_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HPJ_TIP_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HPJ_PAIS_EMI_PASP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HPJ_NOM_APE_RZN_SCL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HPJ_PAIS_RES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HPJ_NUM_DIAS_PER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HPJ_FEC_ING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HPJ_FEC_SAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HPJ_FEC_CSM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PQT_NUM_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PQT_TIP_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PQT_NOM_DOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPT_NUM_ASNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPT_INF_MAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPT_FEC_INI_PROG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPT_HOR_INI_PROG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPT_NUM_DOC_PASJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPT_TIP_DOC_PASJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPT_NOM_APE_PASJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPT_UBIG_DEST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TPT_UBIG_ORIG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_EXPEDIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_UND_EJECUTORA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_CONTRATO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_PROCESO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DRH_NOM_MTR_EMB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DRH_CANT_ESP_MAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DRH_LUG_DES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DRH_FEC_DES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DST_NUM_REG_MTC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DST_CONF_VHC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DST_PTO_ORG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DST_PTO_DET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DST_COD_MND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DST_VAL_REF_VJE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DST_VAL_REF_VHC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DST_VAL_REF_TM_VJE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DST_CAR_EFV_VHC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DST_CAR_EFV_VHC_UND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DST_CAR_UTL_VHC_VJE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DST_CAR_UTL_VHC_VJE_UND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CDO_COD_UNI_CON_MIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CDO_NUM_DEC_COMP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CDO_REG_COM_ORO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CDO_RES_AUT_PLAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CDO_LEY_MIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GDI_NUM_PLACA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GDI_NUM_CONT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GDI_FEC_CRED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC03" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC04" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC05" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC06" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC08" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC09" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DET_VAL_ADIC10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_COMP" nillable="true" type="tns:ArrayOfCPE_DETALLE_COMPTA_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DETALLE_BE" nillable="true" type="tns:CPE_DETALLE_BE" />
  <xs:complexType name="ArrayOfCPE_DETALLE_COMPTA_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_DETALLE_COMPTA_BE" nillable="true" type="tns:CPE_DETALLE_COMPTA_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_DETALLE_COMPTA_BE" nillable="true" type="tns:ArrayOfCPE_DETALLE_COMPTA_BE" />
  <xs:complexType name="CPE_DETALLE_COMPTA_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Columna01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Columna02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumLinItem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DETALLE_COMPTA_BE" nillable="true" type="tns:CPE_DETALLE_COMPTA_BE" />
  <xs:complexType name="ArrayOfCPE_DAT_ADIC_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_DAT_ADIC_BE" nillable="true" type="tns:CPE_DAT_ADIC_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_DAT_ADIC_BE" nillable="true" type="tns:ArrayOfCPE_DAT_ADIC_BE" />
  <xs:complexType name="CPE_DAT_ADIC_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="COD_TIP_ADIC_SUNAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_LIN_ADIC_SUNAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TXT_DESC_ADIC_SUNAT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DAT_ADIC_BE" nillable="true" type="tns:CPE_DAT_ADIC_BE" />
  <xs:complexType name="ArrayOfCPE_DOC_REF_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_DOC_REF_BE" nillable="true" type="tns:CPE_DOC_REF_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_DOC_REF_BE" nillable="true" type="tns:ArrayOfCPE_DOC_REF_BE" />
  <xs:complexType name="CPE_DOC_REF_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="COD_TIP_DOC_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_OTR_DOC_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_DOC_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_CORRE_CPE_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_LIN_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_OTR_DOC_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_SERIE_CPE_REF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIE_CORRE_CPE_REF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DOC_REF_BE" nillable="true" type="tns:CPE_DOC_REF_BE" />
  <xs:complexType name="ArrayOfCPE_ANTICIPO_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_ANTICIPO_BE" nillable="true" type="tns:CPE_ANTICIPO_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_ANTICIPO_BE" nillable="true" type="tns:ArrayOfCPE_ANTICIPO_BE" />
  <xs:complexType name="CPE_ANTICIPO_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="COD_TIP_DOC_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIN_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MNT_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_CORRE_CPE_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_SERIE_CPE_ANTCP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIE_CORRE_ANTCP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_ANTICIPO_BE" nillable="true" type="tns:CPE_ANTICIPO_BE" />
  <xs:complexType name="ArrayOfCPE_FAC_GUIA_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_FAC_GUIA_BE" nillable="true" type="tns:CPE_FAC_GUIA_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_FAC_GUIA_BE" nillable="true" type="tns:ArrayOfCPE_FAC_GUIA_BE" />
  <xs:complexType name="CPE_FAC_GUIA_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CERT_AUTO_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_MOD_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_TIP_GRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_UND_MEDIDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_LLEGADA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_PAI_LLEGADA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_PAI_PARTIDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_PARTIDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_UBI_LLEGADA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR_UBI_PARTIDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FEC_INI_TRASLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IND_SUB_CONTRATA" type="xs:boolean" />
      <xs:element minOccurs="0" name="LIC_COND_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARCA_AUTO_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MTV_TRASLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM_DESTINATARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC_COND_TRASLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC_DESTINATARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_GRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_PLACA_TRASLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLACA_AUTO_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUC_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RZN_SCL_TRNSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_DOC_COND_TRASLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIP_DOC_DESTINATARIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOT_PSO_BRUTO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_FAC_GUIA_BE" nillable="true" type="tns:CPE_FAC_GUIA_BE" />
  <xs:complexType name="ArrayOfCPE_DOC_ASOC_BE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CPE_DOC_ASOC_BE" nillable="true" type="tns:CPE_DOC_ASOC_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCPE_DOC_ASOC_BE" nillable="true" type="tns:ArrayOfCPE_DOC_ASOC_BE" />
  <xs:complexType name="CPE_DOC_ASOC_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOC_ASOC" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FEC_CREA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FLG_ACTIVO" type="xs:int" />
      <xs:element minOccurs="0" name="NUM_CPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ_DOC_ASOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TXT_DOC_ASOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TXT_TAM_DOC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DOC_ASOC_BE" nillable="true" type="tns:CPE_DOC_ASOC_BE" />
  <xs:complexType name="CPE_RESPUESTA_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COD_ESTD_SUNAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DETALLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_CPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_RESPUESTA_BE" nillable="true" type="tns:CPE_RESPUESTA_BE" />
  <xs:complexType name="CPE_DOC_TRIBUTARO_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOC_TRIB_PDF" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DOC_TRIB_XML_ENVIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOC_TRIB_XML_RPTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_CPE" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="NUM_RESUM" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CPE_DOC_TRIBUTARO_BE" nillable="true" type="tns:CPE_DOC_TRIBUTARO_BE" />
</xs:schema>