Model/Connected Services/ServiceSunatPadron/wsSunatPadron1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TT.EOL.Coplementos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TT.EOL.Coplementos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteSunat">
    <xs:sequence>
      <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razonsocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="condicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipovia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombrevia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigozona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipozona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="interior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="manzana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kilometro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaingreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flagerror" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteSunat" nillable="true" type="tns:ClienteSunat" />
</xs:schema>